.sta{
    margin-top: 40px;
}
 h1,h2{
    padding: 10px;
 }

 .sp1{
    font-size: large;
    color: white;
 }

 .MuiSvgIcon-root{
    color: white !important;
 }
.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
}